@CHARSET "ISO-8859-1";

.btn-primary {
	color: black;
	background-color: white;
}

.btn-primary:HOVER, .btn-primary:ACTIVE, .btn-primary:VISITED {
	color: black;
	background-color: grey;
}

.hideTable {
	display: none;
}

.floatLeftDiv {
	float: left;
	border-style: solid;
	border-width: thin;
	margin: 3px;
	padding: 5px;
}

#bestRateDivBOI {
	margin: auto;
	margin-top: 10px;
	padding: 10px;
	border: solid;
	border-width: 1px;
	border-color: blue;
	text-align: left;
	width: 80%;
}